<h1>User Experience Design Experts</h1>
<h2>Find your expert (researcher, professor, author, etc.) in the domain of UX Design.)</h2>
  <div class="multi-selector-category">
      <div class="select-field-category">
        <input type="text" name="categories" placeholder="All categories">
        <span class="down-arrow-category">&blacktriangledown;</span>
      </div>
      <div class="listCategory">
          {{#each categories}}
              <label class="category">
                  <input class="input" type="checkbox" name="{{name}}" id="{{id}}">
                  {{name}}
              </label>
          {{/each}}
      </div>
  </div>

  <div class="multi-selector-expert">
    <div class="select-field-expert">
      <input type="text" name="experts" placeholder="All experts">
      <span class="down-arrow-expert">&blacktriangledown;</span>
    </div>
    <div class="listExpert">
      {{#each experts}}
        <label class="expert">
            <input class="input" type="checkbox" name="{{name}}" id="{{id}}">
            {{name}}
        </label>
      {{/each}}
    </div>
  </div>

<div class="container">
</div>
<p></p>
          <script>
              let list = {{{json persons}}};
              let checkboxes = document.querySelectorAll('.input');
              let checkedBoxes = [];

              document.querySelector('.select-field-category').addEventListener('click',()=>
            {
              document.querySelector('.listCategory').classList.toggle('show');
              document.querySelector('.down-arrow-category').classList.toggle('rotate180');
            });

          for (let checkbox of checkboxes) {
              checkbox.addEventListener('change',()=>
              {
                  const container = document.querySelector('.container');
                  if (checkbox.checked) {
                      checkedBoxes.push(checkbox.id)
                  } else {
                      const index = checkedBoxes.indexOf(checkbox.id)
                      checkedBoxes.splice(index, 1)
                  }
                  container.remove()
                  const newContainer = document.createElement("div")
                  newContainer.className = "container";
                  console.log(checkedBoxes)
                  for (const person of list) {
                      if (checkedBoxes.indexOf(person["categoryID"]) > -1 || checkedBoxes.indexOf(person["expertID"]) > -1 ) {
                          let box = document.createElement("div");
                          box.className = "box";
                          let img = document.createElement("img");
                          img.src = person["imgSrc"]
                          let text = document.createElement("div")
                          text.className = "text"
                          let h3 = document.createElement("h3");
                          h3.innerHTML = person["categoryName"] + " | " + person["expertName"]
                          let h4 = document.createElement("h4");
                          h4.innerHTML = person["name"];
                          let p = document.createElement("p");
                          p.innerHTML = person["description"];
                          let a = document.createElement("a");
                          a.href = "https://en.wikipedia.org/wiki/" + person["dbrID"]
                          a.innerHTML = "Read More"
                          text.appendChild(h3);
                          text.appendChild(h4);
                          text.appendChild(p);
                          text.appendChild(a);
                          box.appendChild(img);
                          box.appendChild(text)
                          newContainer.appendChild(box)
                      }
                  }
                  document.body.appendChild(newContainer)
              });
          }

          document.querySelector('.select-field-expert').addEventListener('click',()=>
            {
              document.querySelector('.listExpert').classList.toggle('show');
              document.querySelector('.down-arrow-expert').classList.toggle('rotate180');
            });
          </script>
